body {
  margin: 0;
  background-color: #332121;
}
.nav__bar {
  background-color: #543561;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 3px;
}
.logo {
  width: 75px;
  height: 75px;
  padding-left: 4px;
}
.nav__list {
  list-style: none;
  margin: 0;
}
.nav__items {
  color: white;
  display: inline;
  padding: 0 20px;
}
.nav__items a {
  color: white;
  text-decoration: none;
}
.nav__items a:hover {
  color: aquamarine;
}
.container__one {
  background: #d1d8e8;
  margin-top: 20px;
  padding-bottom: 50px;
}
h2 {
  padding: 20px 10px;
  margin: 0;
}
p {
  color: #030107;
  font-size: x-large;
  margin: 0;
  padding: 0 10px;
}
.container__two {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 50px;
}
.container__two p {
  color: #030107;
  padding: 0 10px;
}
.box h4 {
  color: #030107;
  padding: 0 10px;
  text-align: center;
  font-size: xx-large;
  margin: 10px 10px;
}
.box {
  background: #d1d8e8;
  width: 500px;
}
.box__margin {
  margin: 0 10px;
}
@media screen and (max-width: 500px) {
  .container__one {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
  }
  .nav__items {
    padding: 10px;
    font-size: small;
  }
  .container__two {
    display: flex;
    flex-wrap: wrap;
  }
  .box {
    display: flex;
    flex-wrap: wrap;
  }
  .box__margin {
    margin: 10px 0;
  }
  .logo {
    width: 50px;
    height: 50px;
  }
}
@media screen and (min-width: 1500px) {
  .box {
    flex-grow: 1;
  }
}
