body {
  background-color: #301b1a;
  margin: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.nav__bar {
  background-color: #533261;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  display: flex;
}
.logo {
  width: 50px;
  height: 50px;
  padding: 10px;
}
.nav__logo h2 {
  color: #fff;
  padding-top: 5px;
}
.nav__items {
  display: inline;
  padding: 0 20px;
  font-size: large;
}
.nav__items a {
  text-decoration: none;
  text-align: center;
  color: #fff;
}
.container {
  height: 300px;
  background-color: #d2d9e9;
  margin: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box {
  width: 450px;
  height: 215px;
  background-color: #85df7f;
}
.box__1 {
  margin-left: 40px;
}
.box__2 {
  margin-right: 40px;
}
p {
  padding-left: 10px;
  font-size: 1.1rem;
}
h3 {
  padding-left: 10px;
}
.container__2 {
  margin: 15px;
  background-color: #b94142;
  height: 286px;
  display: flex;
  justify-content: center;
}
.box__3 {
  margin: 15px;
  border: 4px solid green;
  background-color: antiquewhite;
  height: 250px;
  width: 100%;
}
